*{
  margin: 0px;  
}

body{
    background:black;
    color:black;
    margin: 0px;

    
}
h1{
    padding-top: 0px;
}
/*
.container1{
    display: flex;
    background:white;
    color:black;
    padding: 20px;
    justify-content: space-around;
 
    
}

.container2{
    background: rgb(30, 1, 63);
    color: white;
    text-align: center;
}

.col1-container1{
   width: 350px;
   height: inherit;
   display: flex;
   flex-direction: column;
   justify-content: 50px;
   align-items: center;
   padding: 0px 30px;
   text-align: left;
    
}
.col2-container1{
    width: 200px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding: left;
    text-align: left;
   
   
}
.col3-container1{
    width: 500px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items:left;
    padding: 0px 30px;
    text-align: left;
    
    
}
.row1-contacto img{
    width: 35px;
    height: 25px;
}
.row2-contacto{

}

*/

.conteiner1{
    display: flex;
    background: white;
    padding: 20px;
    justify-content: space-around;
}
.conteiner2{
    background: red;
    text-align: center;
}

.col1-container1 {
width: 400px;
}
.col2-container2 {
width: 200px;
}

.col3-container3{
width: 300px;
}

.row1-contacto img{ 
width: 35px;
height: 35px;
}

.row2-contacto img {
    width: 35px;
    height: 35px;
}
.row1-redes img {
width: 35px;
height: 35px;
}

.row1-contacto{
    display: flex;
    margin: 10px 0px;
}
.row2-contacto{
    display: flex;
}
.row1-contacto p {
    padding-left: 10px;
}
.principal{
    
   background-image:url(../img/bellal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    height: 700px;
    font-family: 'Rowdies', cursive;
    text-emphasis:center;
    font-size: 30px;
    padding: 100px;
    
}

.somos{ 
    background:white;
    text-align: center;
    padding: 50px;
    font-family: 'Rowdies', cursive;
    font-size: 30px;
    
}
.somos h2 {
   color:red;
   margin-bottom: 10px;
} 
.somos p {
    margin-bottom: 20px;
}
/*
.padre{
background: darkorchid;
display: flex;
flex-wrap: nowrap;
flex-direction: row;
justify-content:center;
height: 500px;
align-items: center;

}

.hijo {
background: deeppink;
width:200px;
height: 200px;
border: 2px solid blue;
font-size: 30px;
display: flex;
}
*/


.bella{   
    background: chartreuse;
    text-align: left;
}

.header{
   background:red; 
   color: cyan; 
   display: flex;
   justify-content: space-between;
   height:100px ;
}
.logo img{
   width:17% ; 
   border-radius:80px ;
   border:5px solid white ;
}
ul{
    list-style:none ;
    margin:0xp ;
    padding: 0px;
    display: flex;
    height: inherit;
}
.header a {
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}
.menu{
  height: inherit;
  font-size: 25px;  
}
.header li{
   height: inherit; 
}
/*.principal img{
   width: 350px;
   border-radius: 130px;
   border: 15px solid white;  
}*/
strong{
color:red;
}
.principal-boton{
    width: 250px;
    height: 40px;
    color: white;
    background-color: red;
    border-radius: 24px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-top:10px ;
}

.aplicar-detalles{
      width: 50%;
      height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}          
.aplicar{
   height: 600px; 
   background-image: url(../img/nana.png);
   background-size: cover;
    background-repeat: no-repeat;
   display: flex;
   font-size: 20px;
   text-align: center;
}
.aplicar-detalles img{
    height: 550px;
}
